<footer class="fixed-bottom">
    <div class="container">
        <div class="row justify-content-between">
            <div class="cols-sm-6">
                <p>copyright 2020</p>
            </div>
            <div class="cols-sm-6">
                <ul class="list-group list-group-horizontal">
                    <!-- If the user has successfully logged in .. -->
                    <% if (currentUser) { %>
                        <li>Welcome <%= currentUser.username %></li>
                        <li>
                            <a href="/plays/new">add new play</a>
                        </li>
                        <li>
                            <form action="/sessions?_method=DELETE" method="POST">
                                <input type="submit" value="Log Out"/>
                            </form>
                        </li>
                        <% } else { %>
                            <li class="disabled">
                                <a href="#">contact</a>
                            </li>
                            <li>
                                <a href="/sessions/new">admin log-in</a>
                            </li>
                        <% } %>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>