
<nav class="fixed-top no-drop">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="navbar-text cols-sm-md">
                <p id="your-name">J JOSEPH COX</p>
            </div>
            <div class="cols-sm-md align-self-center">
                <ul class="list-group list-group-horizontal">
                    <li class="nav-link">
                    <a  href="/">ABOUT</a>
                    </li>
                    <li class="nav-link">
                    <a href="/plays">PLAYS</a>
                    </li>
                    <li class="nav-link">
                        <a href="/contact">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
