<nav class="fixed-top header">
    <p class="header__name">J JOSEPH COX</p>
        <ul class="header__nav ">
            <li class="header__link">
                <a href="/">ABOUT</a>
            </li>
            <li class="header__link">
                <a href="/plays">PLAYS</a>
            </li>
            <!-- <li class="header__link">
                <a href="/contact">CONTACT</a>
            </li> -->
        </ul>
</nav>
