
<nav class="fixed-top no-drop">
    <div class="container-fluid navigation">
        <div class="row justify-content-between">
            <div class="navbar-text cols-sm-md">
                <p class="name">J JOSEPH COX</p>
            </div>
            <div class="cols-sm-md align-self-center">
                <ul class="list-group list-group-horizontal">
                    <li>
                    <a href="/"><h4 class="nav-link">ABOUT</h4></a>
                    </li>
                    <li>
                    <a href="/plays"><h4 class="nav-link">PLAYS</h4></a>
                    </li>
                    <li>
                        <a href="/contact"><h4 class="nav-link">CONTACT</h4></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
