<nav class="fixed-top">
    <div class="container">
        <div class="row justify-content-between">
            <div class="navbar-text cols-sm-6">
                <p id="name">J JOSEPH COX</p>
            </div>
            <div class="cols-sm-6">
                <ul class="list-group list-group-horizontal">
                    <li class="">
                    <a  href="/">ABOUT</a>
                    </li>
                    <li class="">
                    <a class="" href="/plays">PLAYS</a>
                    </li>
                    <li class="disabled">
                    <a class="" href="#">NEWS</a>
                    </li>
                    <li class="disabled">
                    <a class="" href="#">COLLABORATORS</a>
                    </li>
                </ul>
                <!-- <a href="#">ABOUT</a>
                <a href="#">PLAYS</a>
                <a href="#">NEWS</a>
                <a href="#">COLLABORATORS</a> -->
            </div>
        </div>
    </div>
</nav>
<!-- WITH THE DROPDOWN MENU -->
    <!-- <nav class="navbar navbar-expand-md navbar-light fixed-top">
        <div class="row justify-content-between">
            <div class="navbar-text col-sm-6">
                <p class="" id="name">J JOSEPH COX</p>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse nav-fill col-sm-6" id="navbarText">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="#">ABOUT</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">PLAYS</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">NEWS</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">COLLABORATORS</a>
                </li>
            </ul>
            </div>
        </div>
    </nav> -->