
    <li><a href="/plays/new">add new play</a></li>
    <!-- If the user has successfully logged in .. -->
    <% if (currentUser) { %>
    <li>Welcome <%= currentUser.username %></li>
    <li>
      <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Log Out"/>
      </form>
    </li>
    <% } else { %>
        <li><a href="/sessions/new">admin</a></li>
    <% } %>