<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    
</head>
<body>

    <%- include('./partials/header.ejs') %>
    <%- include('./partials/spacer.ejs') %>
    <div class="d-flex align-self-center justify-content-center">
        <div class="holder pt-2">
            <form action="/contact" method="POST">
                <h1 class="heading form-label mt-4 mb-0">Send A Message</h1>          
                <div class="form-group sender-info">
                    <label class="form-label m-2" for="name">Name</label>
                    <input name="name" id="name" type="text" placeholder="required" required />
                    <label class="form-label m-2" for="email">Email</label>
                    <input name="email" id="email" type="text" placeholder="required" required/>
                </div>
                <div class="form-group">
                    <label class="form-label" for="message">Message</label>
                    <textarea class="contact-message" id="message" name="message" placeholder="Enter your message here" rows="5" required>
                    </textarea>
                </div>
                <button type="submit" class="btn btn-light">Submit</button>
            </form>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>