<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    
</head>
<body>

    <%- include('./partials/header.ejs') %>
    <%- include('./partials/spacer.ejs') %>
    <div class="d-flex align-self-center justify-content-center">
        <h4 class="success-fail">Your message was sent successfully</h4>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>