.index {
    color:rgb(252, 255, 212);
}

.index__header {
    position: relative;
}

.index--heading {
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

.index__header--heading {
    font-size: 6em;
    text-shadow: -.02em .02em .02em rgb(156, 34, 28);
    position: absolute;
    top: 30px;
    left: 16px;
}

.index__header--img {
    width: 100%;
    padding-top: 2em;
}

.index__length--heading {
    font-size: 40px;
    text-align: center;
    text-shadow: 0.02em 0.02em 0.02em rgb(4 5 48);
    margin: .7em auto;
}

.index__plays--display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.index__plays--thumbnail {
    margin: 1rem;
    text-align: center;
}

.index__plays--img{
    max-width: 250px;
}

.index__plays--img:hover {
    border: solid .2rem white;
}

.index__btn--display {
    display: flex;
    justify-content: space-between;
    margin: 1em auto
}

@media (max-width: 780px) { 

    .index--headline {
    font-size: 2.5em;
    position: absolute;
    top: 30px;
    left: 16px;
    }

    .index__length--heading {
        font-size: 30px;
    }

    .index__header--heading {
        font-size: 3em;

    }
}