.details__header {
    display: flex;
    position: relative;
}

.details__header--img {
    width: 100%;
}

.details__header--title, .details__header--quote {
    position: absolute;
    width: 100%;
    color: rgb(5, 5, 48);
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

.details__header--title {
    padding: .8rem 2rem;
    font-size: 4.5rem;
    background-image: linear-gradient(90deg, silver, rgba(230, 230, 252,.2));
}

.details__header--quote {
    padding: .8rem 2rem;
    font-size: 2.3rem;
    text-align: right;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(-90deg, silver, rgba(230, 230, 252,.2));  
    margin: 0rem; 
} 

.details__summary--inset {
    border: solid silver .4rem;
    margin: 4rem auto;
    max-width: 70%;
}

.details__summary--heading {
    color: rgb(233, 217, 89);
    text-align: center;
    font-size: 3rem;
    margin: 1rem;
}

.details__summary--display {
    background-color: rgb(252, 255, 212);
    border: solid rgb(233, 217, 89) 2px;
    margin: 1.5rem auto;
    max-width: 90%; 
    padding: 1.6rem

}

.details--row {
    display: flex;
    justify-content: space-around;
    margin-top: 1.6rem;
}

.details--category {
    display: flex;
    text-align: left;
}

.details__casting {
    text-align: center;
}

.details__heading {
    margin: .7rem 0 0 0;
    font-weight: bold;
    text-align: center;
}

.details__history {
    list-style-type: none;
}

@media (max-width: 768px) {  
    .details__summary--inset {
        border: none;
        max-width: 98%;
        margin: 1.5rem auto;
    }

    .details__header--quote {
        padding: .3rem 1rem;
        font-size: 2rem;
    }
}
@media (max-width: 480px) {
    .details__header--title {
        font-size: 2.4rem;
    }

    .details__header--quote {
        display: none;
    }

    .details__summary--heading {
        font-size:2rem;
    }

    .details--row {
        display: block;
    }
}

