html, body {
   
    height: 100%;
    min-height: 100%;
    width: 100%;
}

body {
    background-color: rgb(5, 5, 48);
    /* margin: 0 0 5em 0; */
    
}

.log-in, .new-play-form {
    color: rgb(233, 217, 89)
}
#grey-bar {
    background-color: silver;
    width: 3vw;
    height: 100%;
    min-height: 100%;
    position: absolute;
    right: 0;
    z-index: 1;
}
.carousel-item {
    padding:0;
}


#main-about-container {
    position: relative;
}

#carousel-show {
    display: inline;
    padding: 0;
}

.carousel-inner {
    height: 30%;
    display: inline;
}

.container-fluid, .col-12, #carousel-container{
    margin: 0;
    padding: 0;
}
#headshot {
    padding:0;
    display: inline;

}

.heading {
    text-align: center;
}
nav, footer{
    background-color: rgb(233, 217, 89);
}

.fixed-top {
    padding: 0 2em 0 2em;
}
#name {
    font-size: 3em;
    font-weight: bold;
}

a {
    color: black;
}

.list-group {
    background-color: none;
    list-style: none;
}

li {
    padding: 0 1em;
}

.about-info {
    max-width:70%;
    padding: 2em;
    background-color: white;
}

.holder {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em 0 3em 0;
}
.about-info>p {
    text-align: justify;
}

.row {
    margin: 0;
}

.index-overlay {
    position: relative;
    left: 5%;
    background-color: rgba(255, 255, 255, .7);
    height: 100vh;
}

a {
    text-decoration: underline;
}

#index-page {
    background-image: url('/images/AVBM_overpass.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
}

.new-play-form {
    max-width: 800px;
}

/* SHOW PAGE */

.script-breakdown {
    color: rgb(233, 217, 89);
    text-align: center;
}

.details-div {
    border: solid silver 4px;
    margin-bottom: 5em;
}

.synopsis, .overview {
    background-color: rgb(193, 189, 201);
    border: solid rgb(233, 217, 89) 2px;
    margin: 1.5rem auto; 
}

.play-heading {
    font-weight: bold;
    text-align: center;
}

#show-page {
    /* position: relative; */
}

.play-heading, .play-details{
    color: rgb(5, 5, 48);

}

.play-photo {
    max-width: 80vw;
   border: solid silver 4px;
}

.title-row {
    position: absolute;
    top: 0em;
    width: 96%;
    background-image: linear-gradient(90deg, silver, rgba(230, 230, 252,0));
}

.dialogue-row {
    position: absolute;
    bottom: 0em;
    background-image: linear-gradient(-90deg, silver, rgba(230, 230, 252,0));    
    width: 96.8%;
}

.no-photo-title {
    padding: .4em 2em;
    font-size: 2.5em;
    color: silver;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    text-align: center;
}

.no-photo-dialogue {
    padding: .8em 2em;
    font-size: 1.3em;
    color: silver;
    font-style: italic;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

#title-display {
    position: relative;
    padding: .4em 2em;
    font-size: 2.5em;
    color: rgb(17, 7, 41);
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

#dialogue-display {
    position: relative;
    padding: .8em 2em;
    font-size: 1.3em;
    color: rgb(17, 7, 41);
    font-style: italic;
    text-align: right;
    font-family: 'Playfair Display', serif;
} 

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }