<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/messages.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="message ">
        <p class="message__text">Ooops! We encountered an error while sending your message.</p>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>