<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <nav>
        <!-- CREATE A NAV PARTIAL THAT STICKS -->
    </nav>
    <h1>INDEX PAGE</h1>
    <a href="#">HOME</a>
    <a href="/jjoseph/plays/new">Add New Play</>

    <ul>

    </ul>
    <footer>
        <!-- CREATE A FOOTER PARTIAL  -->
    </footer>
</body>
</html>