<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Page</title>
</head>
<body>
    <h1>Add New Play Details</h1>
    <form action="/jjoseph/plays" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">
        <label for="synopsis">Synopsis:</label>
        <input type="text" id="synopsis" name="synopsis">
        <label for="casting">Casting Requirements:</label>
        <input type="text" id="casting" name="casting">
        <label for="development">Development History:</label>
        <input type="text" id="development" name="development">
        <label for="honors">Honors:</label>
        <input type="text" id="honors" name="honors">
        <label for="img">Image Upload:</label>
        <input type="image" id="img" name="img">
        <input type="submit" id="submit-btn" value="SUBMIT">
    </form>
</body>
</html>