<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-In</title>
</head>
<body>
    <h1>User Log-In Form</h1>

    <form action="/sessions" method="POST">
        Username: <input type="text" name="username"/><br/>
        Password: <input type="password" name="password">
        <input type="submit" value="ENTER"/>
    </form>
</body>
</html>