<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>

</head>
<body>
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/spacer.ejs') %>


    <div class="d-flex align-self-center justify-content-center">
        <div class="holder pt-2">
            <form action="/sessions" method="POST">
                <h1 class="heading log-in mt-4 mb-0">User Log-In Form</h1>
                <div class="form-group">
                    <label for="username" class="log-in">Username:</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="form-group">
                    <label for="password" class="log-in">Password:</label>
                    <input type="password" class="form-control" name="password">
                </div>
                    <input type="submit" class="btn btn-light" value="SUBMIT"/>
            </form>
        </div>
    </div>

        <!-- Username: <input type="text" name="username"/><br/>
        Password: <input type="password" name="password">
        <input type="submit" value="ENTER"/> -->

    <%- include('../partials/footer.ejs') %>

</body>
</html>