<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>

</head>
<body>
    <%- include('../partials/header.ejs') %>

    <h1>User Log-In Form</h1>

    <form action="/sessions" method="POST">
        Username: <input type="text" name="username"/><br/>
        Password: <input type="password" name="password">
        <input type="submit" value="ENTER"/>
    </form>

    <%- include('../partials/footer.ejs') %>

</body>
</html>